@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Inter:wght@600&family=Noto+Serif+HK:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

.navbar {
    background-color: #000000;
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

/* Ensure the logout button stays at the bottom */
}

.logo {
    margin-bottom: 3px;
    align-self: flex-start;
}

.logo-image {
    height: 8vh;
    padding-left: 20px;
}

.top-box {
    border: 1px solid #FFFFFF;
    width: 250px;
    height: 250px;
    background-color: #231C1C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.avatar-image {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-info {
    color: #FFFFFF;
    text-align: center;
}

.user-name {
    font-family: 'Noto Serif HK', serif;
    font-size: 20px;
    font-weight: 400; /* Regular weight */
    margin-bottom: 5px;
}

.user-details {
    font-family: 'Noto Serif HK', serif;
    font-size: 12px;
    font-weight: 400; /* Regular weight */
    text-align: left;
    margin-left: 4px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Allow the menu to grow to fill space */
    justify-content: center; /* Center the menu items */
    padding-top: 5%;
}

.nav-button {
    display: block;
    width: 214px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #211916;
    color:#a19e9d;
    text-decoration: none;
    margin-bottom: 12px; /* 5px space between each button */
    border-radius: 10px; /* Curved edges of 10px */
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif; /* Inter Semi Bold */
    font-weight: 600;
    font-size: 15px;
}

.nav-button:last-child {
    margin-bottom: 0; /* No margin for the last button */
}

.logout-button {
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background-color: #211916;
    color:#d1d1d1;
    text-decoration: none;
    border-radius: 5px; /* Curved edges of 5px */
    border: 1px solid #FFFFFF; /* Border of thickness 1px and color #FFFFFF */
    transition: background-color 0.3s ease;
    font-family: 'Averia Serif Libre', serif; /* Averia Serif Libre Bold */
    font-weight: 700;
    align-self: center; /* Center the logout button */
}

.nav-button:hover, .logout-button:hover {
    background-color: #444;
}

.hamburger-menu {
    display: none;
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    background-color: #000000;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 70px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.mobile-menu .nav-button {
    padding-right: 10px;  /* Right padding to avoid sticking to the edge */
    display: block;
    width: 70%;
    margin: 10px auto;
    background-color: #211916;
    color: white;
    text-decoration: none;
    border-radius: 10px; /* Curved edges of 10px */
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif; /* Inter Semi Bold */
    font-weight: 600;
}

.mobile-menu .nav-button:hover {
    background-color: #444;
}

.mobile-menu .logout-button {
    width: 162px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background-color: #211916;
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Curved edges of 5px */
    margin-top: 45px; /* 45px space below the About button */
    border: 1px solid #FFFFFF; /* Border of thickness 1px and color #FFFFFF */
    transition: background-color 0.3s ease;
    font-family: 'Averia Serif Libre', serif; /* Averia Serif Libre Bold */
    font-weight: 700;
}

.profile {
    background: url('img/College.png') no-repeat center center;
    background-size: cover;
    background-color: #000000;
    flex-grow: 1;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.profile h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      padding-bottom: 2%;
  }

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .mobile-menu {
        display: flex;
    }
    .mobile-menu .nav-button {
        width: 70%;
        margin: 10px auto;
    }

    .user-info {
        display: none;
    }
}
